* {
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  width: 100%;

  body {
    height: 100%;
    width: 100%;

    .homepageContent{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;

      .homeProducts{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .homeProduct{
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 1px solid black;
          max-width: 15vw;

          img{
            max-width: 15vw;
          }

          .productBio{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
          }
        }
      }
    }
  }
}

