{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produits de cette catégorie</h1>
    {% for product in products %}
        <p>{{ product.name }}
            <a href="{{ path('product', {'id': product.id}) }}">Détails</a>
        </p>
    {% endfor %}
    <a href="{{ path('products') }}">retour</a>
{% endblock %}