{% extends 'base.html.twig' %}

{% block body %}
    <div class="homepageContent">
        <div>
            <h1 class="text-center">t*t*</h1>
            <p>
                <a href="{{ path('products') }}">
                    <button type="button" class="btn btn-success">Découvez nos voyelles</button>
                </a>
            </p>
        </div>
        <div class="homeProducts">
            {% for product in products %}
                <div class="homeProduct">
                    <img src="/uploads/{{ product.image }}">
                    <div class="productBio">
                        <p>{{ product.name }}</p>
                        <a href="{{ path('product', {'id': product.id}) }}" class="btn btn-info">Détails</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}