{% extends "base.html.twig" %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>prix</th>
            <th>catégorie</th>
            <th>description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}€</td>
            <td>{{ product.category.name }}</td>
            <td>{{ product.description |raw }}</td>
        </tr>
        </tbody>
    </table>
    <img src="/uploads/{{ product.image }}">
    {{ form_start(commentForm) }}
    {{ form_widget(commentForm) }}
    {{ form_end(commentForm) }}
    {% for comment in product.comments %}
        <p>{{ comment.name }}</p>
        <p>{{ comment.content | raw }}</p>
    {% endfor %}
    <p><a href="{{ path('products') }}">Retour</a></p>
{% endblock %}