{% extends 'base.html.twig' %}

    {% block body %}
        <div class="categories">
            <h1>Catégories</h1>
            {% for category in categories %}
                <h2>
                    <a href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a>
                </h2>
            {% endfor %}
        </div>
        <h1>Produits</h1>
        {% for product in products %}
            <p>{{ product.name }} -
                <a href="{{ path('product', {'id': product.id}) }}">Détails</a>
            </p>
        {% endfor %}
        <a href="{{ path('product_new') }}">
            <button class="btn btn-success">Ajouter un produit</button>
        </a>
        <a href="{{ path('category_new') }}">
            <button class="btn btn-default">Ajouter une catégorie</button>
        </a>
    {% endblock %}

